params {
  sample_sheet = 'aws_input.csv'
  ref = 's3://pgp650/Homo_sapiens_assembly38.fasta'
  ref_index = "s3://pgp650/ref_index"
  dbsnp = 's3://pgp650/dbsnp_146.hg38.vcf.gz'
  dbsnp_index = 's3://pgp650/dbsnp_146.hg38.vcf.gz.tbi'

  readgroups = "@RG\\tID:HG002-1\\tSM:HG002\\tLB:HG002-LB-1\\tPL:ILLUMINA"
  model = 's3://pgp650/SentieonIlluminaWGS2.2.bundle'

  sentieon_license = 's3://pgp650/UCL_eval.lic.txt'
}