params {
  sample_sheet = 'input.csv'
  ref = '/root/data/Homo_sapiens_assembly38.fasta'
  ref_index = '/root/data/ref_index'
  dbsnp = '/root/data/dbsnp_146.hg38.vcf.gz'
  dbsnp_index = '/root/data/dbsnp_146.hg38.vcf.gz.tbi'

  readgroups = "@RG\\tID:HG002-1\\tSM:HG002\\tLB:HG002-LB-1\\tPL:ILLUMINA"

  model = '/root/data/SentieonIlluminaWGS2.2.bundle'

  sentieon_license = '/root/data/UCL_eval.lic.txt'
}