params {
  sample_id = 'uk35C650'
  ref = '/root/data/Homo_sapiens_assembly38.fasta'
  ref_index = '/root/data/ref_index'
  dbsnp = '/root/data/dbsnp_146.hg38.vcf.gz'
  dbsnp_index = '/root/data/dbsnp_146.hg38.vcf.gz.tbi'


  r1_fastq = '/root/data/uk35C650_1.fastq.gz'
  r2_fastq = '/root/data/uk35C650_2.fastq.gz'

  readgroups = "@RG\tID:HG002-1\tSM:HG002\tLB:HG002-LB-1\tPL:ILLUMINA"

  model = '/root/data/SentieonIlluminaWGS2.2.bundle'
}